@tailwind base;
@tailwind components;
@tailwind utilities;

.img-decoration {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(187, 185, 185, 0) 25%,
    rgba(77, 76, 76, 0) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}
.inner-img-deco {
  background: rgb(113, 109, 109);
  background: linear-gradient(
    90deg,
    rgba(113, 109, 109, 0) 0%,
    rgba(0, 0, 0, 0.6811099439775911) 98%
  );
}
.btn {
  @apply lg:py-4 lg:px-16 p-3 text-[10px] lg:text-base bg-orange-500 hover:bg-white hover:text-black transition duration-150;
}
.btn-outline {
  @apply lg:py-4 lg:px-16 p-3 text-[10px] lg:text-base border-2 hover:bg-white hover:text-black transition duration-150;
}
@font-face {
  font-family: idk;
  src: url(../public/PPMonumentExtended-Black.otf);
}
* {
  font-family: idk;
}
.inp {
  @apply lg:py-5 lg:px-2 py-2 px-2 text-lg outline-none rounded-sm;
}
.blah {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
